<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <header class="d-flex justify-content-between align-items-center">
            <h1>¡Hello, {{user.first_name}} {{user.last_name}}!</h1>
            <a href="/new/appointment" class="btn btn-success">Add</a>
            <a href="/logout" class="btn btn-danger">Log Out</a>
        </header>
        <h3>Here are your appointments:</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Date</th>
                    <th>Status:</th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody>
                {% for appointment in appointments if appointment.date == now().date() %}
                    {% if appointment.user_id == session['user_id'] %}
                        <tr>
                            <td>{{appointment.task}}</td>
                            <td>{{appointment.date.strftime('%d/%m/%Y')}}</td>
                            <td>{{appointment.status}}</td>
                            <td>
                                {% if appointment.status == 'Pending' %}
                                    <a href="/edit/appointment/{{appointment.id}}" class="btn btn-primary">Edit</a>
                                    <a href="/delete/appointment/{{appointment.id}}" class="btn btn-danger">Delete</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
        <hr>
        <h3>Past appointments:</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Date</th>
                    <th>Status:</th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody>
                {% for appointment in appointments if appointment.date < now().date() %}
                    {% if appointment.user_id == session['user_id'] %}
                        <tr>
                            <td>{{appointment.task}}</td>
                            <td>{{appointment.date.strftime('%d/%m/%Y')}}</td>
                            <td>{{appointment.status}}</td>
                            <td>
                                {% if appointment.status == 'Pending' %}
                                    <a href="/edit/appointment/{{appointment.id}}" class="btn btn-primary">Edit</a>
                                    <a href="/delete/appointment/{{appointment.id}}" class="btn btn-danger">Delete</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>